@model Employee.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Главная</h1>
        <p>
            <a asp-action="Create">Добавить сотрудника</a>
        </p>
 
            <form asp-action="Search">
                <p>
                    CompanyId:  <input name="id" />
                    <input type="submit" value="Поиск" />
                </p>
                
        </form>
    </div>
